/* Header */

header {
    list-style: none;
    border: 0 none;
    margin: 0;
    padding: 0;
    text-decoration: none;

    background: #FFFFFF;
    min-height: 70px;
    box-shadow: 0px 0px 1px #888888;
    margin-bottom: 1px;
}

header a {
    /*color:rgb(234,158,0);*/
    /*color: #666165;*/
    color: #8A8A8A;
    
    text-decoration: none;
    font-size: 14px;

}

header a:hover, header a:focus, header a:active, header a.is-active {
    cursor: pointer;
    color: #000;
}

header li{
    float:left;
    display:inline;
    background: transparent;
    padding: 0;
}
header li>.nav-link {
    margin-left: 5px;
    margin-right: 5px;
}

header .nav-height, .nav-height>ul>li>.nav-link, .nav-height>ul>li>a, .nav-height .no-separator {
    height: 85px;
}

/* Style Logo */
header #branding {
    float: left;
    width: 115px;
    
    margin-right: 20px;
}

header #branding a{
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/logo_licitix.png') transparent no-repeat center center;
    background-size: 100%;
    color: rgb(0,148,140);
    margin-top: 2px;
    text-indent: -10000em;  /*ca sa dispara scrisu */
    overflow: hidden;
}

/* Style Searchbar */
header .search-nav {
    position: relative;
    float: left;
    width: 35%;
}
header .gnav-search-inner {
    position: absolute;
    display: table;
    width: 100%;
    top: 50%;
    margin-top: -15px;
    height: 34px;
}
header .search-input-wrapper, header .search-button-wrapper {
    white-space: nowrap;
    display: table-cell;
    vertical-align: top;
    width: 100%;
}
header .search-input-wrapper #search-query {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
header #search-query {
    position: absolute;
    width: 100%;
    top: 50%;
    border: 1px solid #CFCBC8;
    background: #f9f9f8;
    margin-top: -17px;
    padding: 6px 10px;
    margin-left: 0;
    height: 34px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 2px #E9E9E8;
    -moz-box-shadow: inset 0 1px 2px #E9E9E8,0 0 0 1000px #fbfbfa inset;
    box-shadow: inset 0 1px 2px #E9E9E8, 0 0 0 1000px #fbfbfa inset;
}
header #search-query:focus, header #search-query:active {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background: #FFF;
    -moz-box-shadow: 0 0 0 1000px #fff inset;
    box-shadow: 0 0 0 1000px #fff inset;
}
header .search-button-wrapper .btn-primary {
    background: rgba(229,147,39,1);
}
header .search-button-wrapper .btn-primary {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 17px;
    height: 34px;
    padding: 7px 15px 8px;
}



/* Style Navbar */
header .account-nav{
    float:right;
    /*margin-top: 10px;*/
    position: relative;
    list-style: none;
    border: 0 none;
    margin: 0;
    padding: 0;
    padding-left: 0;
}


header .account-nav>ul>li:before {
    content: '';
    position: absolute;
    display: block;
    /*left: 0; */
    top: 23px;
    bottom: 14px;
    background-color: #eee;
    width: 1px;
    /*box-sizing: border-box;*/
}

header .account-nav>ul>li:first-child:before {
    content: none;
}
header .account-nav .no-separator:before {
    content: none;
}

header .account-nav .no-separator a {
    color: rgba(229,157,39,1);
    height: auto;
    margin-top: 29px;
    display: block;
    float: left;
    padding: 8px;
    line-height: 16px;
    font-size: 14px;
    text-decoration: none;
    box-sizing: border-box;
}
header .account-nav .no-separator a:hover, header .account-nav .no-separator a:focus {
    text-decoration: underline;
}
header .sign-in-link a {

    margin-right: 18px;
    border: 1px solid;
    border-color: rgba(229,157,39,1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #0192B5;
}
header .sign-in-link a:hover, header .sign-in-link a:focus, header .sign-in-link a:active {
    outline: none;
    text-decoration: none !important;
    background: #F2F2F2;
}

header .nav-link{
    float: left;
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    padding: 0 13px;
    margin: 0;
    text-decoration: none;
}

.nav-link .nav-icon {
    display: block;
    position: static;
    float: none;
    top: auto;
    height: 34px;
    width: auto;
    min-width: 23px;
    margin: 24px auto 0;
    text-indent: 0;
    overflow: visible;
}

.nav-link:hover .nav-icon, .nav-link:focus .nav-icon {
    color: #000;
    -webkit-filter: brightness(0%);
    filter: brightness(0%);
}
.nav-link:hover .gnav-dropdown, .nav-link:focus .gnav-dropdown{
    color: #000;
}

.nav-link .text-link {
    clear: left;
    white-space: nowrap;
    margin-top: -2px;
}

.nav-link .gnav-dropdown {
    cursor: pointer;
    font-size: 20px;
    line-height: 8px;
    position: relative;
    top: 50%;
    margin: 0 -1px 0 0;
    left: auto;
    color: #bbb;
}
.text-link-copy {
    margin-left: 5px;
}

.nav-link .gnav-dropdown:before {
    content: '▾';
    display: inline-block;
    width: 10px; 
    height: 5px;
}





header .sub-nav {
    display: none;
}


header .sub-nav {   /* defineste si pozitioneaza meniurile dropdown cat mai in fata */
    position: absolute;
    width: 255px;
    top: 81px;
    right: 10.1%;
    font-size: 12px;
    line-height: 16px;
    padding: 0;
    background: #fff;
    border: 0 solid rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 50;
}

header .sub-nav:before {  /* un chenar transparent pentru meniurile dropdown si e folosit doar pentru cursor: pointer; */
    display: block;
    content: ' ';
    position: absolute;
    top: -14px;
    bottom: -14px;
    left: -14px;
    right: -14px;
    cursor: pointer;
    -webkit-border-radius: 30px 30px 5px 5px;
    -moz-border-radius: 30px 30px 5px 5px;
    border-radius: 30px 30px 5px 5px;
    z-index: -1;
}
header .sub-nav>ul {
    margin: 0;
    padding: 0 0 8px;
}

header .sub-nav li.bottom-divider.no-extra-space {
    padding-bottom: 0;
}
header .sub-nav li.bottom-divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    padding-bottom: 8px;
}
header .sub-nav li.top-divider {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    padding-top: 8px;
}
header .sub-nav li {
    float: none;
    display: block;
    text-align: left;
    margin: 0;
}
header .sub-nav li:hover .sub-nav-text-link, header .sub-nav li:focus .sub-nav-text-link {
    background: rgba(0, 0, 0, 0.1);
}

.gnav-user {
    position: relative;
}
.gnav-user a {
    display: block;
    padding: 18px 20px;
    padding-bottom: 0px;
    margin: 0;
    text-decoration: none;
}
.gnav-user .avatar {
    float: left;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-top: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.gnav-user .details {
    display: block;
    margin-left: 61px;
    line-height: 18px;
}
.gnav-user .name {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2px 0 5px;
    font-size: 15px;
}
.gnav-user .profile-link {
    display: inline-block;
    font-size: 13px;
    padding: 3px 8px;
    margin-top: auto;
    height: 18px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #777;
}
.gnav-user .profile-link #profile-link-label {
    margin: 0px;
}
.gnav-user .profile-link .gnav-icon {
    display: inline-block;
    position: static;
    float: right;
    top: auto;
    height: 18px;
    width: auto;
    min-width: 15px;
    margin: 0px auto 0;
    margin-left: 4px;
    text-indent: 0;
    overflow: visible;
    background: url('../images/header/right_arrow.png') transparent no-repeat center center;
    background-size: 100%;
    -webkit-filter: brightness(200%);
    filter: brightness(200%);
}
.gnav-user:hover .profile-link .gnav-icon {
    -webkit-filter: brightness(0%);
    filter: brightness(0%);
}

header .with-pointer:before, header .with-pointer:after {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    right: 72px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d8d8d8;
    cursor: pointer;
}
header .with-pointer:after {
    top: -9px;
    border-bottom: 10px solid #FFF;
}
header .sub-nav-text-link {
    display: block;
    padding: 8px 20px;
    color: #666;
    width: auto;
    margin: 0;
}

header .subnav-text-link .gnav-icon {
    font-size: 16px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: top;
    position: relative;
    top: 2px;
    color: #777;
}
.gnav-conversations:before {
    content: '';
    /* TO DO: add icon */;
}

.sub-navs .show {display:block;}



#search-icon {
    display: none;
}

header .overlay {
    background: transparent;
}

header #inline-overlay {   /* defineste si pozitioneaza meniurile dropdown cat mai in fata */
    position: absolute; 
    z-index: 9999;
    width: 500px;
    top: 85px;
    left: 35%;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    padding: 0;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    -moz-border-radius: 5;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


header #inline-overlay .overlay-content {
    overflow: hidden;
}
#inline-overlay .tabs, #conversation-overlay .tabs {
    list-style: none;
    padding: 20px 10px 0 40px;
    margin: 0px;
    margin-bottom: 0px;
    background: #FAF9F5;
    border-bottom: 1px solid #E1E3DF;
    border-top: 1px solid #FFF;
    border-radius: 5px 5px 0 0;
}

#inline-overlay .tabs li, #conversation-overlay .tabs li {
    margin-right: -4px;
    float: none;
    
}
#inline-overlay .tabs li>a, #conversation-overlay .tabs li>a {
    display: inline-block;
    border: 1px solid #E1E3DF;
    font-size: 13px;
    padding: 8px 12px;
    margin: 0 0 -1px;
    text-align: center;
    color: #444;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    background-color: #FAF9F5;
    color: #444;
}

        

#inline-overlay .forms {
    padding: 0;
    background: #fff;
    float: none;
    }

#inline-overlay .forms #register-login-form  {
    padding: 20px 53px;
    overflow: hidden;
}
#inline-overlay .input-error-message {
    border: 1px solid #ffc0cb;
    background: #ffeeee;
    color: #a80308;
    display: none;
    padding: 6px 8px 5px 8px;
        clear: none;
    float: right;
    width: 215px;
    line-height: 16px;
}
#inline-overlay input.text {
    line-height: 16px;
    color: #333;
    font-size: 12px;
    margin: 0 0 0.2em 0;
    padding: 6px;
    width: 228px;
    border: 1px solid #c2c2c2;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    display: block;
}
#inline-overlay .forms label {
    color: #444;
    display: block;
    margin-top: 8px;
    margin-bottom: 4px;
    clear: left;
    }
#inline-overlay .register-login-form .submit {
    margin: 0 0 14px 0;
    padding: 10px 0 0;
}
#inline-overlay .btn-primary {
    display: inline-block;
    min-width: 242px;
    padding: 7px 15px 8px;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FFF;
    text-decoration: none;
    font-family: Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    text-align: center;
}
#inline-overlay #register-login-form .top-margin {
    color: #e1e1df;
    height: 1px;
    margin: 14px 0;
    clear: both;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);  
}
#inline-overlay #register-login-form .fineprint {
    color: #999;
    font-size: 11px;
    margin: 12px 0 5px;
}

#inline-overlay .tabs #sign-in-tab {
    border-bottom-color: #FFF;
    background-color: #FFF;
}
#inline-overlay #register-login-form .clear {
    display: none;
}

/* TO DO - to implement a java script function that changes only the color of the png icons applying a mask over it */
/* TO DO - to edit the sizes of the icons so it will be the same scale */

    .activity .nav-link .nav-icon {
    background: url('../images/header/home.png') transparent no-repeat center center;
        background-size: 70%;
    }

    .favorites .nav-link .nav-icon {
        background-size: 67%;
    }

    .user-nav .nav-link .nav-icon {
    background: url('../images/header/profile.png') transparent no-repeat center center;
    background-size: 57%;
}

    .cart .nav-link .nav-icon {
    background: url('../images/header/cart.png') transparent no-repeat center center;
    background-size: 95%;
}




/* Media Queries */
@media only screen and (max-width: 967px){

    header .nav-height, .nav-height>ul>li>.nav-link, .nav-height>ul>li>a  {
        height: 70px;
    }
    .nav-height .no-separator {
        height: auto;
    }

    header #branding {
        width: 85px;
        margin-right: 5px;
    }
    header #branding a{
        background: url('../images/icon.png') transparent no-repeat center center;
        background-size: 50%;
    }

    header .account-nav>ul>li:before {
        display: none;
    }

    header .nav-link{
        padding: 0 5px;
    }

    .nav-link .text-link {
        display: none;
    }

    .user-nav .nav-link .text-link {
        display: inline;
        clear: none;
        margin-top: 0;
    }

    .user-nav .text-link-copy {
        display: none;
    }

    .nav-link .nav-icon {
        height: 32px;
        width: auto;
        min-width: 40px;
        margin: 18px auto 0;
    }
    header .account-nav .no-separator a {
        margin-top: 19px;
        height: 35px;
    }

    .nav-link .gnav-dropdown {
        font-size: 24px;
        display: inline;
        float: right;
        left: 5px;
        line-height: 0px;
        margin: -15px 0 0 0;
        color: #8A8A8A;
    }
    .nav-link .gnav-dropdown:before {
        content: '▾';
        display: inline-block;
        width: 10px;
        height: 5px;
    }



    .activity .nav-link .nav-icon {
        background-size: 70%;
    }


    .favorites .nav-link .nav-icon {
        background-size: 67%;
    }

    .user-nav .nav-link .nav-icon {
        background-size: 65%;
    }


    .cart .nav-link .nav-icon {
        background-size: 75%;
    }

    header .sub-nav {   /* defineste si pozitioneaza meniurile dropdown cat mai in fata */
        width: 240px;
        top: 66px;
        right: 10%;
    
    }



    /* SearchBar resize */
    /*
    header .search-wrapper {
        padding: 0 18px;
        margin: 0 -12px;
        display: block;
        clear: left;
        top: 60px;
        margin: 0;
        padding: 0 10px;
        border-top: 1px solid #e2e2e2;
        position: relative;
        top: 0;
        z-index: 5;
    }
    header .search-browse-inner {
        position: relative;
    }
    */

}

@media only screen and (max-width: 600px){
    header .sub-nav {   /* defineste si pozitioneaza meniurile dropdown cat mai in fata */
        right: 2%;
    }
}